<div class="row">
  <div class="col m4">
    <div class="card z-depth-2">
      <div class="card-action center">
        Side nav
      </div>
    </div>
  </div>

  <div class="col m8">
    <div class="card z-depth-2">
      <div class="card-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pulvinar lectus id eros gravida, nec fringilla nunc congue. Maecenas ac semper mi. Duis vestibulum erat at vulputate hendrerit. Nam posuere leo nec odio faucibus, a efficitur ipsum consectetur. Ut faucibus nibh vehicula erat tristique ullamcorper ac in ligula. Integer nunc tortor, posuere vitae risus at, luctus efficitur arcu. Pellentesque hendrerit iaculis scelerisque. Sed lobortis lectus tortor, vel venenatis justo commodo vitae. Maecenas vel convallis magna. Pellentesque id commodo justo.</p><br>
        <p>Sed non sapien in nisi placerat pulvinar aliquet ut diam. In massa leo, placerat non mauris in, luctus bibendum ex. Sed quis volutpat massa, nec volutpat nisl. Fusce nec nisi scelerisque turpis aliquet suscipit. Aenean ornare mattis neque, ut porttitor risus blandit et. Proin vel ipsum maximus purus semper auctor in sed mauris. Maecenas fermentum ultricies lacus.</p><br>
        <p>Nullam pellentesque fringilla nisi id ullamcorper. Suspendisse a luctus est, non hendrerit magna. Curabitur blandit ligula sit amet enim posuere interdum. Sed non euismod purus. Suspendisse potenti. Curabitur mauris magna, mollis posuere fringilla sit amet, feugiat a sem. Suspendisse placerat suscipit lectus ut hendrerit.</p><br>
        <p>Duis sit amet justo euismod, consequat eros sit amet, hendrerit libero. Suspendisse bibendum tortor convallis nulla cursus, at lacinia tortor volutpat. Praesent vitae est felis. Aliquam rhoncus, ante eget luctus consequat, tortor felis tempor eros, non luctus ligula lacus a nulla. Nulla quis mi ut lorem pulvinar aliquet. Fusce tellus arcu, dictum in dui sed, finibus accumsan augue. Etiam a sagittis eros. Aliquam bibendum eu orci eget dignissim. Duis nec leo dui. Nulla tempus mi id nibh pellentesque iaculis. Curabitur tincidunt lobortis massa, ut interdum nunc pretium ac. In hac habitasse platea dictumst. Pellentesque justo magna, bibendum eget sagittis vitae, semper et magna.</p><br>
        <p>Pellentesque porttitor velit sed enim mattis vulputate. Nunc leo tortor, tristique id convallis in, tempus quis sem. Vestibulum gravida metus tincidunt nisi fermentum, ac molestie massa egestas. Curabitur a auctor magna, in gravida libero. Mauris vel leo nisi. Praesent feugiat sed metus id sollicitudin. Aliquam nec convallis sapien. Mauris sit amet justo non urna lacinia scelerisque. Nullam sollicitudin condimentum mi, nec convallis lacus. Morbi sapien odio, efficitur ut lacus id, ultrices maximus lorem. Phasellus elementum consectetur varius. Pellentesque rutrum imperdiet eleifend.</p><br>
      </div>
    </div>
  </div>
</div>
